*{
	font-family: sans-serif;
}
a{
	color: white;
	text-decoration: none;
	text-align: center;
}
.admin_opc{
	position: relative;
	background-color: black;
	width: 30%;
	float: left;
	margin-left: 15%;
	margin-right: auto;
	padding: 2%;
}
.admin_opc img{
	width: 100%;
}
.user_opc{
	position: relative;
	background-color: red;
	width: 30%;
	float: right;
	margin-left: auto;
	margin-right: 15%;
	padding: 2%;
}
.user_opc img{
	width: 100%;
}
