body{
    background: radial-gradient(1000px, white,#0B88D3);
    margin: 0px;
}
#bgn-hp{
    background: radial-gradient(800px, white,#0B88D3);
    margin: 0px;
}
a{
    text-decoration: none;
    color: inherit;
}



.cabecera {
    background-color: #2287C4;
    float: left;
    width: 100%;
    position: static;
    margin: -100 0 0 0;
}
.cabecera-md {
    background-color: #2287C4;
    float: left;
    width: 100%;
    position: static;
    margin: 0 0 0 0;
}
.cabecera-vp {
    background-color: #2287C4;
    float: left;
    width: 100%;
    position: static;
    margin: -7% 0 0 0;
}
.cabecera-hp{
    background-color: #2287C4;
    float: left;
    width: 100%;
    position: static;
    margin: -150 0 0 0;
}
.cabecera-sg{
    background-color: #2287C4;
    float: left;
    width: 100%;
    position: static;
    margin: 0 0 0 0;
}
.cabecera-ct{
    background-color: #2287C4;
    float: left;
    width: 100%;
    position: static;
    margin: -10% 0 0 0;
}
.cabecera-cl{
    background-color: #2287C4;
    float: left;
    width: 100%;
    position: static;
    margin: 120 0 0 0;
}

.logo{
    float: left;
    width: 20%;
    text-align: center;
    align-items: flex-end;
    border-right: 1px solid black;
}
.logo-sg{
    float: left;
    width: 20%;
    text-align: center;
    align-items: flex-end;
    border-right: 1px solid black;
}
.logo-md{
    float: left;
    width: 20%;
    text-align: center;
    align-items: flex-end;
    border-right: 1px solid black;
}
.logo-vp{
    float: left;
    width: 20%;
    text-align: center;
    align-items: flex-end;
    border-right: 1px solid black;
}
.logo-ct{
    float: left;
    width: 20%;
    text-align: center;
    align-items: flex-end;
    border-right: 1px solid black;
}
.logo-hp{
    float: left;
    width: 20%;
    text-align: center;
    align-items: flex-end;
    border-right: 1px solid black;
}
.logo-cl{
    float: left;
    width: 20%;
    text-align: center;
    align-items: flex-end;
    border-right: 1px solid black;
}
.nombre{
    float: left;
    width: 60%;
    text-align: center;

}
.nombre-sg{
    float: left;
    width: 60%;
    text-align: center;

}
.nombre-md{
    float: left;
    width: 60%;
    text-align: center;

}
.nombre-vp{
    float: left;
    width: 60%;
    text-align: center;

}
.nombre-ct{
    float: left;
    width: 60%;
    text-align: center;

}
.nombre-hp{
    float: left;
    width: 60%;
    text-align: center;

}
.nombre-cl{
    float: left;
    width: 60%;
    text-align: center;

}
.menu{
    float: left;
    width: 19%;
    text-align: center;
    border-left: 1px solid black;
}
.menu-sg{
    float: left;
    width: 19%;
    text-align: center;
    border-left: 1px solid black;
}

.menu-md{
    float: left;
    width: 19%;
    text-align: center;
    border-left: 1px solid black;
}
.menu-vp{
    float: left;
    width: 19%;
    text-align: center;
    border-left: 1px solid black;
}
.menu-hp{
    float: left;
    width: 19%;
    text-align: center;
    border-left: 1px solid black;
}
.menu-ct{
    float: left;
    width: 19%;
    text-align: center;
    border-left: 1px solid black;
}
.menu-cl{
    float: left;
    width: 19%;
    text-align: center;
    border-left: 1px solid black;
}
.boton_superior{
    width: 100%;
    height: 100%;
    margin-top: 20%;
    position: relative;
    padding: auto;
    background-color: inherit;
    color: black;
    border-color: inherit;
    border-image: none;
}
.boton_superior-sg{
    width: 100%;
    height: 100%;
    margin-top: 20%;
    position: relative;
    padding: auto;
    background-color: inherit;
    color: black;
    border-color: inherit;
    border-image: none;
}
.boton_superior-vp{
    width: 100%;
    height: 100%;
    margin-top: 20%;
    position: relative;
    padding: auto;
    background-color: inherit;
    color: black;
    border-color: inherit;
    border-image: none;
}
.boton_superior-cl{
    width: 100%;
    height: 100%;
    margin-top: 20%;
    position: relative;
    padding: auto;
    background-color: inherit;
    color: black;
    border-color: inherit;
    border-image: none;
}
.boton_superior-md{
    width: 100%;
    height: 100%;
    margin-top: 20%;
    position: relative;
    padding: auto;
    background-color: inherit;
    color: black;
    border-color: inherit;
    border-image: none;
}
.boton_superior-hp{
    width: 100%;
    height: 100%;
    margin-top: 20%;
    position: relative;
    padding: auto;
    background-color: inherit;
    color: black;
    border-color: inherit;
    border-image: none;
}
.desplegable{
    overflow: hidden;
    width: 100%;
    height: 100;
    position: relative;
    padding: auto;
}
.desplegable-cl{
    overflow: hidden;
    width: 100%;
    height: 100;
    position: relative;
    padding: auto;
}

.desplegable-sg{
    overflow: hidden;
    width: 100%;
    height: 100;
    position: relative;
    padding: auto;
}

.desplegable-vp{
    overflow: hidden;
    width: 100%;
    height: 100;
    position: relative;
    padding: auto;
}
.desplegable-hp{
    overflow: hidden;
    width: 100%;
    height: 100;
    position: relative;
    padding: auto;
}
.desplegable-ct{
    overflow: hidden;
    width: 100%;
    height: 100;
    position: relative;
    padding: auto;
}
.desplegable-md{
    overflow: hidden;
    width: 100%;
    height: 100;
    position: relative;
    padding: auto;
}
.contenido_desplegable{
    display: none;
    text-align: center;
    position: fixed;
    width: 20%;
    background-color: #52B0E9;
    border: 2px dashed dodgerblue;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.contenido_desplegable-ct{
    display: none;
    text-align: center;
    position: fixed;
    width: 20%;
    background-color: #52B0E9;
    border: 2px dashed dodgerblue;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.contenido_desplegable a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
    text-align: left;
}
.desplegable:hover .contenido_desplegable{
    display: inherit;
    text-align: center;
}
.contenido{
    padding-top: 8%;
}
.negocio{
    border: 1px solid black;
    width: 25%;
    text-align: center;
    margin-left: 6%;
    float: left;
    margin-bottom: 5%;
    background-color: antiquewhite;
}
.negocio span{
    font-size: 120px;
}
.negocio h3{
    background-color: #bdd0e0;
    margin-top: 0%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.negocio p{
    background-color: #bdd0e0;
    margin-bottom: 0%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.negocio h4{
    background-color: #ea3b3b;
    margin-top: 0%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 0%;
}
.catalogo_neg{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
.catalogo_neg th{
    background-color: black;
    color: whitesmoke;
}
.catalogo_neg td{
    background-color: lightblue;
    color: black;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 33%;
}
.producto_titulo{
    background-color: blue;
    color: aliceblue;
}
.producto_imagen img{
    width: 20%;
}
.producto_desc{

}
.lol{
  background-color: rgb(255, 100, 100);
}
#gallery{
  margin: 100 0 0 100;
  padding: 0;
  list-style: none;
}

#gallery li{
  float: left;
  width: 28%;
  margin: 1.5%;
  background-color: #radial-gradient(1000px, #0B88D3,black);
  color:#bdc3c7;
}

#gallery li a p button{
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7;
  font color: navy;
}
.example{
  margin: 10% 0%  -9% 42%;

}

/*
TABLES
*/
.Tabla-hp{
  align-items: center;
  margin: 150 0 0 90;
}
.Tabla-cf{
  align-items: center;
  margin: 150 0 60 160;
}
table{
  border-collapse: collapse;
  border: 1px solid black;
}
td{
  text-align: center;
  border: 1px solid black;
  width: 170px;
  height: 30px;
  background-color: #FFF;
}
.ec-stars-wrapper-cl{
  margin: 0 0 0 41%;
}
.ec-stars-wrapper-cl p{
  font-size: 350%;
  margin: -120 0 0 0;
  text-align:

}
.puntuacion{
  text-align: center;
}
.coments{
text-align: center;
  margin: 0 0 0 0;
  font-size: 165%;

}
.Tabla-cm{
  border-collapse: collapse;
  margin: 0 0 12% 15%;
}
.Tabla-cm items-cm td{

  width: 0;
}

.txt-resp{
  margin: 3% 35% 10% 35%;
}
.coments-olds{
  margin: -11% 0 0 69%;
}
.btn-rc{
  margin: -6% 0 5% 45%;
}
.contenido{
    padding-top: 8%;
}

.catalogo_neg{
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 4% 10% 10% 10%;
}
.catalogo_neg th{
    background-color: black;
    color: whitesmoke;
    margin: auto;

}
.catalogo_neg td{
    background-color: lightblue;
    color: black;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    width: auto;
    margin: auto;
}
.v-prod{
  margin: 7% 10% 10% 10%;
  border-radius: 25%;
}
.decripcion{
  margin: -40% 0 0 50%;
}
.cantidad{
  margin: 3% 10% 10% 50%;
}
.btn_addpr{
  margin: -5% 0 0 50%;
}
