*{
    font-family: sans-serif;
}
body{
    margin: 0px;
}
a{
    text-decoration: none;
    color: inherit;
}
#map{
    width: 70%;
    margin:auto;
    height: 30vh;
    margin-bottom: 25px;
}
.modal_login{
	margin-left: 25%;
	margin-right: auto;
	position: absolute;
	width: 45%;
	background-color: #b43030;
	padding: 2%;
	height: 50%;
	box-shadow: 10px 7px grey;
}
.modal_login a{
	color: dodgerblue;
}
.modal_login input{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	width: 100%;
}
.modal_registro{
	margin-left: 25%;
	margin-right: auto;
	position: absolute;
	width: 45%;
	background-color: #b43030;
	padding: 2%;
	height: 210%;
	box-shadow: 10px 7px grey;
}
.modal_registro a{
	color: dodgerblue;
}
.modal_registro input{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	width: 100%;
}
.ex{
	width: 100%;
	height: 50px;
	background-color: #18a7a7;
}
.contenedor_index{
    position: relative;
	background-image: url(img/logo.jpg);
}
.cuadro_ini{
    border: 1px solid black;
}
.logo_index{
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}
.formulario_ubicacion{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.select_1{
    width: 100%;
    margin-bottom: 2%;
}
.select_2{
    width: 100%;
    display: none;
}
.centro{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
	padding-left: auto;
	padding-right: auto;
}
.flecha{
    margin-right: 0px;
    margin-left: 72%;
    margin-top: -38px;
    display: none;
}
.cabecera {
    width: 100%;
    position: absolute;
    margin: 0px;
    background-color: #1f1f1f;
    box-sizing:border-box;
    margin-bottom: 20px;
}
.logo{
    display: inline-block;
    width: 20%;
    text-align: center;
}
.logo img{
    filter: invert(100%);
}
.nombre{
    width: 60%;
    text-align: center;
    display: inline-block;
    
}
.menu{
    text-align: right;
    display: inline-block;
}
.menu * *{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: aliceblue;
}
.boton_superior{
    width: 100%;
    height: 100%;
    margin-top: 20%;
    position: relative;
    padding: auto;
    background-color: inherit;
    color: black;
    border-color: inherit;
    border-image: none;
}
.desplegable{
    overflow: hidden;
    width: 100%;
    position: relative;
    padding: auto;
    cursor: pointer;
}
.contenido_desplegable{
    display: none;
    text-align: center;
    position: fixed;
    width: 15%;
    background-color: firebrick;
    border: 2px solid #fff9c4;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.contenido_desplegable a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    background-color: firebrick;
    border-bottom: 1px #fff9c4 solid;
    text-align: left;
    display: block;
    color: white;
}
.desplegable:hover .contenido_desplegable{
    display: block;
    text-align: center;
    margin-top: -40px;
}
.contenido_desplegable a:hover{
    background-color: #fff9c4;
    color: black;
}
.contenido{
    padding-top: 9%;
}
.negocio{
    width: 25%;
    text-align: center;
    margin-left: 6%;
    float: left;
    margin-bottom: 5%;
    background-color: #fff9c4;
    border-radius: 15px;
}
.negocio *{
    border-radius: 15px;
}
.negocio span{
    font-size: 120px;
}
.negocio h3{
    background-color: #ea3b3b;
    margin-top: 0%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: white;
}
.negocio p{
    background-color: #fff176;
    margin-bottom: 0%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.negocio h4{
    background-color: #e53935;
    margin-top: 0%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 0%;
    color: white;
}
.negocio img{
    width: 50%;
}
.catalogo_neg{
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    border-spacing: 15px;
}
.catalogo_neg th{
    background-color: none;
    color: #000;
    margin: auto;
    font-size: 24px;

}
.catalogo_neg td{
    background-color: none;
    color: black;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 0px;
    width: 120vw;
    margin: auto;
    border: 3px solid #e53935;
    border-radius: 15px;
    background: #fff9c4;
}
.producto_titulo{
    color: #000;
    font-weight: 600;
    margin-bottom: 15px;
}
.producto_imagen img{
    height: 90px;
}
.producto_desc{
    background-color: none;
}
.descripcion{
    float:right;
}
.Sexo{
    width:20%;
    padding:0;
}
.Ubicacion_tabla{
    width:70%;
    margin: auto;
     align-content: center;
    
}
.Ubicacion{
    background-color: powderblue;
   
}
.titulo_carrito{
    color:black;
    
}
.carrito{
    background-color: #e53935;
    text-align: center;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    color: white;
    border-radius: 12px;
}
.carrito *{
    border-bottom: 1px solid black;
    border-radius: 12px;
}
.carrito td{
    width: 15%;
}
.carrito a,.carrito input,.carrito button{
    border-radius: 0px;
}
.carrito td:first-child{
    width: 28%;
}
.carrito img{
    width: 150px;
    height: 100px;
}
.carrito td:last-child{
    font-weight: 600;
}
.Terminar_compra{
    background-color: white;
    margin-left: 62.25%;
    font-size: 30px;
}

.giro{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.direc{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
