.barra-sup{
    background-color: #81a1F7;
    margin: -2% -1% 0 -1%;
    padding: 1% 0;
    color: navy;
}



.Giro{
  border-radius: 5px;
  border: 2px solid blue;
}
.Tipo-ventas{
  border-radius: 5px;
  border: 2px solid blue;
}
.Estado{
  border-radius: 5px;
  border: 2px solid blue;
}
.Municipio{
  border-radius: 5px;
  border: 2px solid blue;
}
.Registro{
  background-color: #9090ff;
  width: 40%;
  padding: 0 5%;
  margin: -1% 30% 0 25%;
  border-radius: 10px;
 }
.Datos-personales-registro{
  background-color: #d0d8e5;
  width: 90%;
  margin: 1% 5%;
  border-radius: 20px;
}
.ultimos-datos{
  background-color: #d0d8e5;
  width: 90%;
  margin: 1% 5%;
  border-radius: 20px;
}
.datos-negocio-registro{
  background-color: #d0d8e5;
  width: 90%;
  margin: 1% 5%;
  border-radius: 20px;
}